* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

#logo {
  width: 3rem;
  height: 3rem;
}

h2, h3, h4, h5 {
  padding: 1rem;
}

h2 {
  color: #04588c;
}

h3 {
  color: #186db9;
}

h4 {
  color: #389bf2;
}

h5 {
  color: #63b0f2;
}

a {
  text-decoration: none;
}

.portada {
  background-image: url(../media/images/fondo.jpg);
  background-size: cover;
  background-attachment: fixed;
}

@media (max-width: 720px) {
  main {
    text-align: justify;
  }
}
@media (min-width: 1024px) {
  main {
    text-align: start;
  }
}
main section {
  min-height: 650px;
}
@media (max-width: 1024px) {
  main section {
    padding: 2rem;
  }
}
@media (min-width: 1024px) {
  main section {
    padding: 2rem 6.25rem;
  }
}

#index {
  padding-bottom: 0rem;
}
@media (min-width: 1024px) {
  #index {
    min-height: 560px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: flex-end;
  }
}
@media (max-width: 1024px) {
  #index {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: flex-end;
  }
}

.servicios h2,
.servicios h3,
.aprende h2,
.aprende h3 {
  text-align: center;
}

.servicios img,
.aprende img {
  width: 100%;
}

.aprende {
  background-color: #f2f2f2;
}

.grilla {
  position: relative;
}
.grilla div {
  position: relative;
}
.grilla h5 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s;
}
.grilla img {
  width: 90%;
  height: 90%;
  margin: 1rem;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2);
  object-fit: cover;
  border-radius: 1.25rem;
  opacity: 1;
  transition: opacity 0.3s, box-shadow 0.3s;
}
@media (min-width: 720px) {
  .grilla {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 30%);
  }
}

.grilla div:hover img {
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.4);
  opacity: 0.3;
}

.grilla div:hover h5 {
  opacity: 1;
}

.botonesPortada {
  display: flex;
}

.reunion {
  width: 9rem;
}

.sabermas {
  background-color: #f2f2f2;
  border: #04588c 1px solid;
  color: #04588c;
  width: 7rem;
}
.sabermas:hover {
  border: #63b0f2 1px solid;
}

.image-patricio {
  height: 31rem;
}
@media (min-width: 720px) {
  .image-patricio {
    grid-row: span 2;
  }
}

@media (min-width: 1024px) {
  .galeria {
    display: flex;
    width: 600;
    height: 430px;
  }
  .galeria img {
    padding-top: 1rem;
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 1;
    transition: 0.5s ease;
  }
  .galeria img:hover {
    width: 300px;
    opacity: 0.3;
    filter: contrast(120%);
  }
}
.elementos-cotizables {
  margin-top: 2rem;
}
.elementos-cotizables div {
  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 1.25rem;
  padding: 1.25rem;
  transition: box-shadow 0.3s;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.elementos-cotizables div:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
@media (min-width: 1024px) {
  .elementos-cotizables {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 1rem;
  }
  .elementos-cotizables .auto-span2 {
    grid-row: span 2;
  }
}
.elementos-cotizables img {
  height: 5rem;
}

header {
  background-image: url(../media/images/fondo.jpg);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: space-between;
  height: 6rem;
  padding: 1rem 2rem;
  align-items: center;
}
header #logo {
  width: 3rem;
  height: 3rem;
}
header .logo a {
  width: 16rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
header a {
  color: #04588c;
}
header a:hover {
  color: #63b0f2;
}
header .menu-icon {
  font-size: 1.5em;
  cursor: pointer;
  background-color: #186bd9;
  color: #f2f2f2;
  width: 2.1875rem;
  height: 2.1875rem;
  display: flex;
  justify-content: center;
}
@media (max-width: 720px) {
  header nav ul {
    display: none;
  }
}
@media (min-width: 720px) and (max-width: 1024px) {
  header nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 50px);
    justify-items: center;
    align-items: center;
    text-align: center;
    list-style: none;
  }
  header .menu-icon {
    display: none;
  }
}
@media (min-width: 1024px) {
  header .menu-icon {
    display: none;
  }
  header nav li {
    display: inline-block;
    padding: 1rem;
  }
}

.formularios {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s, background-color 0.3s;
}
.formularios:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  background-color: #f8f8f8;
}

@media (max-width: 1024px) {
  .siniestros {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 1024px) {
  .siniestros {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.label {
  padding: 0.8rem;
}

@media (min-width: 1024px) {
  .formulario {
    display: flex;
  }
}

.boton-wsp {
  z-index: 9999;
  width: 4rem;
  position: fixed;
  right: 2rem;
  bottom: 1rem;
}
.boton-wsp:hover {
  bottom: 1.25rem;
}

.boton {
  margin: 1rem;
  padding: 0.6rem;
  border-radius: 0.2cm;
  display: inline-block;
  text-align: center;
}

.botongral {
  background-color: #186db9;
  color: #fff;
}
.botongral:hover {
  background-color: #389bf2;
}

footer .foot-2 img {
  width: 12rem;
}
@media (min-width: 1024px) {
  footer .foot-1 {
    min-height: 400px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }
}
footer section {
  padding: 2rem 7rem 2rem 2rem;
}
@media (min-width: 1024px) {
  footer section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
footer .foot-3 {
  background-color: #04588c;
  color: #f2f2f2;
}
footer .copirig {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .copirig span {
  padding: 1rem;
}

/*# sourceMappingURL=styles.css.map */
