* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

#logo {
  width: 3rem;
  height: 3rem;
}

h2,
h3,
h4,
h5 {
  padding: 1rem;
}

h2 {
  color: #04588c;
}

h3 {
  color: #186db9;
}

h4 {
  color: #389bf2;
}

h5 {
  color: #63b0f2;
}

.enlace {
  color: #186db9;
}
.enlace:hover {
  color: #389bf2;
}

.portada {
  background-image: url(../media/images/fondo.jpg);
  background-size: cover;
  background-attachment: fixed;
}

@media (max-width: 720px) {
  main p {
    text-align: justify;
  }
}
@media (min-width: 1024px) {
  main {
    text-align: start;
  }
}
@media (max-width: 1024px) {
  main section {
    padding: 2rem;
  }
}
@media (min-width: 1024px) {
  main section {
    padding: 2rem 6.25rem;
  }
}

.navbar-toggler {
  color: #F2F2F2;
}

#index {
  padding-bottom: 0rem;
}
@media (min-width: 1024px) {
  #index {
    min-height: 560px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: flex-end;
  }
}
@media (max-width: 1024px) {
  #index {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: flex-end;
  }
}

.servicios h2,
.servicios h3,
.aprende h2,
.aprende h3 {
  text-align: center;
}

.servicios img,
.aprende img {
  width: 100%;
}

.aprende {
  background-color: #f2f2f2;
}

.grilla {
  position: relative;
}
.grilla div {
  position: relative;
}
.grilla h5 {
  color: #04588c;
  width: 70%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 2%;
  opacity: 0;
  transition: opacity 0.3s;
  background-color: #f2f2f2;
  border-top-right-radius: 4rem;
  border-bottom-right-radius: 4rem;
}
.grilla img {
  width: 90%;
  height: 18rem;
  margin: 1rem;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2);
  object-fit: cover;
  border-radius: 1.25rem;
  opacity: 1;
  transition: opacity 0.3s, box-shadow 0.3s;
}
@media (min-width: 720px) {
  .grilla {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 32%);
  }
}

.grilla div:hover img {
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.4);
  opacity: 0.3;
  filter: contrast(150%);
}

.grilla div:hover h5 {
  opacity: 1;
}

.botonesPortada {
  display: flex;
}

.reunion {
  width: 9rem;
}

.sabermas {
  background-color: #f2f2f2;
  border: #04588c 1px solid;
  color: #04588c;
  width: 7rem;
}
.sabermas:hover {
  border: #63b0f2 1px solid;
}

.image-patricio {
  height: 31rem;
}
@media (min-width: 720px) {
  .image-patricio {
    grid-row: span 2;
  }
}

@media (max-width: 1024px) {
  .galeria {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .galeria div {
    position: relative;
  }
  .galeria div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }
  .galeria div article {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1rem;
  }
}
@media (min-width: 1024px) {
  .galeria {
    display: flex;
  }
  .galeria div {
    position: relative;
  }
  .galeria div:hover img {
    width: 19rem;
    opacity: 0.3;
    filter: contrast(150%);
  }
  .galeria div:hover article {
    opacity: 1;
    width: 15rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
  }
  .galeria div:hover article p {
    padding: 0rem 1.5rem;
  }
  .galeria img {
    height: 100%;
    object-fit: cover;
    height: 430px;
  }
  .galeria img article {
    opacity: 0;
  }
  .galeria article {
    background-color: #f2f2f2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    justify-content: center;
    opacity: 0;
  }
}

.elementos-cotizables {
  margin-top: 2rem;
}
.elementos-cotizables div {
  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 1.25rem;
  padding: 1.25rem;
  transition: box-shadow 0.3s;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.elementos-cotizables div:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
@media (min-width: 1024px) {
  .elementos-cotizables {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 1rem;
  }
  .elementos-cotizables .auto-span2 {
    grid-row: span 2;
  }
}
.elementos-cotizables img {
  height: 5rem;
}

a {
  text-decoration: none;
}

header {
  background-image: url(../media/images/fondo.jpg);
  background-size: cover;
  background-attachment: fixed;
}
header .logoyh1 a {
  width: 16rem;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logoyh1 h1 {
  margin: 0;
}
header .logoyh1 .logo {
  width: 3rem;
}

.caja-formulario {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s, background-color 0.3s;
}
.caja-formulario:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  background-color: #f8f8f8;
}
@media (min-width: 720px) {
  .caja-formulario {
    padding: 2rem 6.25rem;
  }
}

.label {
  padding: 0.8rem;
}

@media (min-width: 1024px) {
  .formulario {
    display: flex;
    justify-content: space-evenly;
  }
  .formulario div {
    width: 100%;
    padding: 0rem 1rem;
  }
}

@media (min-width: 1024px) {
  .formulariocargardoc {
    display: flex;
    flex-direction: column;
  }
}

.boton-wsp {
  z-index: 9999;
  width: 4rem;
  position: fixed;
  right: 2rem;
  bottom: 1rem;
}
.boton-wsp:hover {
  bottom: 1.25rem;
}

.boton {
  margin: 1rem;
  padding: 0.6rem;
  border-radius: 0.2cm;
  display: inline-block;
  text-align: center;
}

.botongral {
  background-color: #186db9;
  color: #fff;
}
.botongral:hover {
  background-color: #389bf2;
}

footer .foot-2 div {
  padding: 0rem 1rem;
}
footer .foot-2 img {
  width: 12rem;
}
@media (min-width: 1024px) {
  footer .foot-1 {
    min-height: 300px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }
  footer .foot-2 {
    padding: 1rem;
    text-align: center;
  }
}
footer section {
  padding: 2rem 7rem 2rem 2rem;
}
@media (min-width: 1024px) {
  footer section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
footer .foot-3 {
  background-color: #04588c;
  color: #f2f2f2;
}
footer .copirig {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .copirig span {
  padding: 1rem;
}

/*# sourceMappingURL=styles.css.map */
